
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Bdocz</title>
</head>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="assets/images/BdocZ_logocolor.png" alt="" class="img-fluid">
                </a>
                <div class="d-flex flex-column" style="width: 70%;">
                    <div *ngIf="displayAdminButtons"
                    class="d-flex align-self-center align-self-lg-end">
                        <button type="button" class="btn btn-sm btn-header m-3 m-lg-0" [routerLink]="['/login/superAdmin']">Super Admin Login</button>
                        <button type="button" class="btn btn-sm btn-header ml-lg-3 m-3 m-lg-0" [routerLink]="['/login/admin']">Admin Login</button>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    
   

    <section class="inner-navbar title-section">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-5 col-lg-3 offset-lg-1 offset-sm-0 offset-md-1">
                    <div  class="py-2">
                        <span   class="py-1 mb-0 btn text-white page-title" style="font-size:15px;">

                    </span>
                    </div>
                </div>

                

                <div  *ngIf="!ChangePasswordComponent && !LoginComponent" class="col col-lg-4 offset-lg-4">
                    <div class="py-2 text-right">
                        <a *ngIf = "display2Buttons" [routerLink]="['/changePassword']" class="py-1 px-lg-4 mr-lg-3 mb-lg-0 btn btn-sm btn-outline-light">Change Password</a>
                        <a *ngIf = "display2Buttons || logoutButtonOnlyDisplay" (click) = "logout()" class="py-1 px-lg-4 mr-lg-3 mb-lg-0 btn btn-sm btn-outline-light" >Logout</a>
                    </div>
                </div>
                <div  *ngIf="ChangePasswordComponent" class="col col-lg-4 offset-lg-4">
                    <div class="py-2 text-right">
                        <a *ngIf = "display2Buttons || logoutButtonOnlyDisplay" (click) = "logout()" class="py-1 px-lg-4 mr-lg-3 mb-lg-0 btn btn-sm btn-outline-light" >Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="signin-section">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <h4 class="text-center mb-4 font-weight-normal">Reset your password</h4>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-7 mb-4">
                        <div class="ui-fluid p-field form-group">
                            <span class="ui-float-label">
                                <input formControlName="resetPassword" [ngClass]="{ 'is-invalid': submitted && f.resetPassword.errors }" 
                                    id="float-input" type="text" size="100" pInputText [(ngModel)] = "resetPasswordData.resetPassword">
                                <label for="float-input">Registered Email Address</label>
                                <div *ngIf="submitted && f.resetPassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.resetPassword.errors.required">Email is required</div>
                                    <div *ngIf="f.resetPassword.errors.email">Email must be a valid email address</div>

                                </div>
                            </span>
                        </div>
                        <small id="emailHelp" class="form-text text-light text-center" style="font-size:85%;">We will send an email that will
                            allow you to
                            change your password.</small>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 text-center">
                        <button pButton type="button, submit" 
                                    style="padding: 0.25em 1.7em; margin: 10px;" styleClass=""
                                    label="Reset Password"></button>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </form>

    </section>

    <app-footer></app-footer>



   