

    <section class="signin-section">
        <form method="POST" action="">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="alert alert-warning text-center p-1 border border-secondary" style="margin:5px 0 50px;color:#425263;" role="alert">  Do You want to delete Admin (Name) ? 
                            <a href="" class="mx-3" style="color:#425263;"><u>Yes</u></a> 
                            <a href="" class="mx-3" style="color:#425263;"><u>No</u></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                    <!--<div class="d-flex justify-content-end">
                        <a href="transaction-list.html" class="py-1 px-4 mb-3 float-right btn btn-outline-dark">Transaction Report</a>
						<a href="sadmin-userslist.html" class="py-1 px-4 mb-3 ml-2 float-right btn btn-outline-dark">User List</a>
                        <a href="admin-list.html" class="py-1 px-4 mb-3 ml-2 float-right btn btn-outline-dark">Admin List</a>
                        <a href="add-admin.html" class="py-1 px-4 mb-3 ml-2 btn btn-outline-dark">Add Admin</a>
                    </div>-->
                    <div class="row">
                            <div class="justify-content-end col-md-12">     
                                    <a class="py-1 mb-3 ml-2 btn btn-outline-light btn-responsive pull-right" href="add-admin.html">Add Admin</a>
                                    <a class="py-1 mb-3 ml-2 btn btn-outline-light btn-responsive pull-right" href="admin-list.html">Admin List</a>
                                    <a class="py-1 mb-3 ml-2 btn btn-outline-light btn-responsive pull-right" href="sadmin-userslist.html">User List</a>
                                <a class="py-1 mb-3 ml-2 btn btn-outline-light btn-responsive pull-right" href="transaction-list.html">Transaction Report</a>
                           </div>
                           </div>
                    <div class="row">
                        <div class="col text-center">
                            <h4>Administrators List</h4>
                        </div>
                    </div>
                
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr style="background-color: #fafcfc;">
                                        <th scope="col">S.No.</th>
                                        <th scope="col">User ID</th>
                                        <th scope="col">Password</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Email Address </th>
                                        <th scope="col">Phone Number</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="bg-white">
                                        <td class="py-3"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </form>

    </section>

    