
 

    <section class="inner-navbar title-section">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-5 col-lg-3 offset-lg-1 offset-sm-0 offset-md-1">
                    <div class="py-2">
                        <span class="py-1 mb-0 btn text-white page-title" style="font-size:15px;">Admin Module</span>
                    </div>
                </div>
                <div class="col col-lg-4 offset-lg-4">
                    <div class="py-2 text-right">
                        <a href="admin-change-password.html" class="py-1 px-lg-4 mr-lg-3 mb-lg-0 btn btn-sm btn-outline-light">Change Password</a>
                        <a href="#" class="py-1 px-lg-4 mb-lg-0 btn btn-light">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="signin-section">
        <form method="POST" action="">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-end">
                            <a href="admin-transaction-list.html" class="py-1 px-4 mb-3 float-right btn btn-outline-light">Transaction Report</a>
                            <a href="admin-userslist.html" class="py-1 px-4 mb-3 ml-2 float-right btn btn-outline-light">User List</a>
                        </div>
                        <div class="row">
                            <div class="col text-center mb-3" >
                                <h4>Change Your Password</h4>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                
                                <input type="password" class="form-control mb-4" placeholder="Enter current password">
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                
                                <input type="password" class="form-control mb-4" placeholder="Enter new password">
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                
                                <input type="password" class="form-control mb-4" placeholder="Confirm new password">
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-4 text-center">
                                <button type="submit" class="btn btn-outline-light">Change Password</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>

    </section>

