<app-header></app-header>




 <section class="inner-navbar">
        <div class="container">
            <div class="d-flex justify-content-between">
                    <div class="py-2">
                            <span class="py-1 mb-0 btn text-white page-title" style="font-size:15px;">User</span>
                        </div>
                        <p-tabMenu class="pt-2" [model]="items"></p-tabMenu>
                <ul class="navbar-nav m-2 nav-item dropdown custom-dropdown">
                        <select  (change)="changeData($event)">
                        <option *ngFor="let data of Data" >
                            {{data}}
                    </option>
                      </select>
                </ul>
            </div>
        </div>
    </section>
    <!-- <p-tabView>
        <p-tabPanel  header="Transfer New Docs">
            Transfer New Docs Content
        </p-tabPanel>
        <p-tabPanel type="submit" header="My Transactions">
            
        </p-tabPanel>
        </p-tabView> -->

        

   