<app-admin-header></app-admin-header>

    <section class="signin-section">
        <form method="POST" action="">
            <div class="container">
                <div class="card" style="background-color: #1C4A90;">
                    <div class="card-body">
                            <div class="row" class="p-mr-2 p-as-end" *ngIf="isSuperAdmin">
                                <app-super-admin-display-list></app-super-admin-display-list>
                                </div>
                                <div class="row" class="p-mr-2 p-as-end" *ngIf="!isSuperAdmin">
                                    <app-admin-display-list [role]="role" ></app-admin-display-list>
                                </div>


                    <div class="row">
                        <div class="col text-center pb-3 pt-3">
                            <h4>Transaction Report</h4>
                        </div>
                    </div>
                    <p-table [columns]="cols" [value]="transactionsData"  
                      [resizableColumns]="true" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,25,50]"
                    styleClass="p-datatable-responsive-demo">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th  pResizableColumn *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                            
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>  
                                  <ng-container *ngFor="let col of columns">
                                <td>
                                        {{rowData[col.field]}} 
                                    
                                </td>
                                
                                </ng-container>
                             
                        
                            
                            </tr>
                        </ng-template>
                    </p-table>
                        

                    </div>
                </div>

            </div>
        </form>

    </section>

   <app-footer></app-footer>
   <router-outlet></router-outlet>