

    <section class="inner-navbar title-section">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-5 col-lg-3 offset-lg-1 offset-sm-0 offset-md-1">
                    <div class="py-2">
                        <span class="py-1 mb-0 btn text-white page-title"></span>
                    </div>
                </div>
                <div class="col col-lg-4 offset-lg-4">
                    <div class="py-2 text-right">
                        <!--<a href="change-password.html" class="py-1 px-lg-4 mr-lg-3 mb-lg-0 btn btn-sm btn-outline-light">Change Password</a>-->
                        <a href="login.html" class="py-1 px-lg-4 mb-lg-0 btn btn-light">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="signin-section">
        <form method="POST" action="">
            <div class="container">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-end">
                            <!--<a href="admin-transaction-list.html" class="py-1 px-4 mb-3 mr-1 btn btn-outline-dark">Transaction Report</a>-->
                            <!--<a href="add-admin.html" class="py-1 px-4 mb-3 btn btn-outline-dark">Add Admin</a>-->
                        </div>
                        
                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <div class="alert alert-primary text-center mb-4" style="color:#425263;border: 2px solid #5c9f20;" role="alert">
                                    We have sent you an email to reset your password
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                <h4 class="text-center mb-4 text-white" >Reset your password
                                </h4>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-7 mb-4">
                                <input type="email" class="form-control border border-primary"
                                    placeholder="Enter your email address">
                                <small id="emailHelp" class="form-text text-white text-center">We will send an email
                                    that will
                                    allow you to
                                    change your password.</small>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-4 text-center">
                                <button type="submit" class="btn btn-outline-light px-5 font-weight-bold">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </section>

    