

   

    <section class="signin-section">
        <form method="POST" action="">
            <div class="container">
                    <div class="card">
                            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="alert alert-primary text-center mb-4"
                            style="color:#425263;" role="alert">
                            We have sent you an email to reset your password
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <h4 class="text-center mb-4 font-weight-normal" >Reset your password</h4>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-7 mb-4">
                        <input type="email" class="form-control border "
                            placeholder="Enter your email address">
                        <small id="emailHelp" class="form-text text-light text-center">We will send an email that will
                            allow you to
                            change your password.</small>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 text-center">
                        <button type="submit" class="btn btn-outline-light px-5 font-weight-bold">Reset</button>
                    </div>
                </div>
            </div>
            </div>
        </div>

        </form>

    </section>

    