
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

<app-admin-header></app-admin-header>

    <section class="login-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="text-uppercase text-center font-weight-bold mt-0 mb-3" style="font-size:20px;">Login</h6>
                                
                            <toastr-notification></toastr-notification>  


                                <div  class ="form-group pb-2">
                                    <span class="ui-float-label">
                                        <input type="email" formControlName="email"  [(ngModel)] = "email" class="form-control"
                                             [ngClass]="{ 'is-invalid': submitted &amp;&amp; loginForm.controls.email.errors }"  pInputText/>
                                         <label class="text-dark pl-3">Email</label>
                                         </span>
                                         <div *ngIf="submitted &amp;&amp; loginForm.controls.email.errors" class="text-danger">
                                              <div *ngIf="loginForm.controls.email.errors.required">Email is required</div>
                                              <div *ngIf="loginForm.controls.email.errors.email">Email must be a valid email address</div>
                                          </div>
                                    </div>
                
                                    <div class="form-group">
                                        <span class="ui-float-label">
                                            <input type="password" formControlName="password"  [(ngModel)] = "password" class="form-control"
                                             [ngClass]="{ 'is-invalid': submitted &amp;&amp; loginForm.controls.password.errors }"  pInputText/>
                                             <label class="text-dark pl-3">Password</label>
                                             </span>
                                            <div *ngIf="submitted &amp;&amp; loginForm.controls.password.errors" class="text-danger">
                                                  <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
                                              </div>
                                            
                                            <small id="emailHelp" class="form-text text-center my-3" style="font-size:100%"><a routerLink="/reset-password" class="text-white"><u>Forgot your password?</u></a></small>
                                        </div>

                                        <div class="form-group">

                                <button type="submit" class="btn btn-lg btn-login btn-block text-uppercase">Login</button>
                                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
<app-footer></app-footer>
<router-outlet></router-outlet>


   