<app-admin-header></app-admin-header>
    
  <section class="signin-section">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-lg-12">
                <h4 class="text-center mb-3">Change Your Password</h4>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-lg-5 form-group pb-2">
                <span class="ui-float-label">
                  <input type="password" formControlName="currentPassword" pInputText [(ngModel)]="currentPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted &amp;&amp; changePasswordForm.controls.currentPassword.errors }"/>
                    <label class="text-dark pl-3">Current Password</label>
                </span>
                <div *ngIf="submitted &amp;&amp; changePasswordForm.controls.currentPassword.errors" class="text-danger">
                  <div *ngIf="changePasswordForm.controls.currentPassword.errors.required">Current Password is required</div>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-lg-5 form-group pb-2">
                <span class="ui-float-label">
                  <input type="password" formControlName="newpassword" pInputText [(ngModel)] = "newpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted &amp;&amp; changePasswordForm.controls.newpassword.errors }"/>
                    <label class="text-dark pl-3">New Password</label>
                </span>
                <div *ngIf="submitted &amp;&amp; changePasswordForm.controls.newpassword.errors" class="text-danger">
                  <div *ngIf="changePasswordForm.controls.newpassword.errors.minlength">Password must be at least 8 characters
                  </div>
                  <div *ngIf="changePasswordForm.controls.newpassword.errors.required">New Password is required
                  </div>
                </div>
              </div>         
            </div>

            <div class="row justify-content-center">
              <div class="col-lg-5 form-group pb-2">
                <span class="ui-float-label">
                  <input type="password" formControlName="confirmPassword" pInputText [(ngModel)]="changePasswordForm.confirmPassword" class="form-control" [ngClass]="{'is-invalid':submitted && changePasswordForm.controls.confirmPassword.errors}"/>
                    <label class="text-dark pl-3">Confirm Password</label>
                </span>
                <div *ngIf="submitted && changePasswordForm.controls.confirmPassword.errors" class="text-danger">
                  <div *ngIf="changePasswordForm.controls.confirmPassword.errors.required">Confirm Password is required
                  </div>
                  <div *ngIf="changePasswordForm.controls.confirmPassword.errors.mustMatch">Passwords must match
                  </div>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-lg-4 text-center">
                <button type="submit" class="btn btn-outline-light">Change Password</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </form>
  </section>
    <app-footer></app-footer>


    